@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
}

.raleway{
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
}

body{
    max-width: 1440px;
    margin: 0 auto;
}
/* shared style */
.font-1{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
.btn-color{
    background: rgb(254, 163, 1);
    border: none;
    color: rgb(255, 255, 255);
}
.btn-color2{
    border-radius: 12px;
    background-color: rgb(17, 17, 17);
    border: none;
    color: white;
}

/* navigation bar style start */
.navbar{
    max-width: 1440px;
    height: 102px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10;
    padding: 20px 0px 20px 0px;
}
.brand{
    width: 202px;
    height: 62px;
    /* margin: 0px 186px; */
    display: flex;
    align-items: center;
}
.nav-title{
    color: rgb(17, 17, 17);
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
}
.menu-container{
    width: 387px;
    height: 30px;
    /* margin: 0px 186px; */
}
.nav-links{
    display: flex;
}
.nav-item{
    list-style: none;
    margin-right: 2rem;
}
.nav-link{
    text-decoration: none;
}
#home{
    color: rgb(254, 163, 1);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}
#about{
    color: rgb(1, 172, 253);
}
#facilities{
    color: rgb(5, 212, 223);
}
#admission{
    color: rgb(93, 88, 239);
}
.btn-primary{
    width: 197px;
    height: 50px;
    padding: 10px;
    /* margin: 0px 186px; */
    border-radius: 12px;
}
#fab{
    display: none;
}

/* banner style start */
.banner{
    width: 1158px;
    height: 575px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 18px;
    gap: 50px;
}
.banner-title{
    font-size: 56px;
    font-weight: 700;
    line-height: 61px;
}
#orange{
    color: rgb(254, 163, 1);
}
#sky-blue{
    color: rgb(1, 172, 253);
}
.banner-description{
    color: rgb(17, 17, 17);
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}
.image-container{
    width: 468.61px;
    height: 575px;
}



/* media query for small device */

@media screen and (max-width: 576px) {
    
    .nav-title{
        display: none;
    }
    .menu-container{
        display: none;
    }
}